.alert
{
    margin-right: 80%; 
    margin-left: 20px; 
    margin-top: 10px; 
    text-align: center;
}

input
{
    margin: 5px;
}

label
{
    margin-left: 10px;
}

li
{
    margin-bottom: 10px;
}