<div>
    <label for="galleryID">Выберите галерею для просмотра информации: </label>
    <select name="galleryID" id="galleryID">
        <option *ngFor="let g of galleries.data" value="{{g.id}}">{{g.name}}</option>
    </select>
    <input type="submit" value="Показать" (click)="onGetGallery()">
</div>

<div id="info" *ngIf="gallery">
    <!-- <p>id: {{gallery.id}}</p> -->
    <p><b>Название галереи:</b> {{gallery.data.name}}</p>
    <p><b>Местонахождение:</b> {{gallery.data.location}}</p>
    <a href="{{gallery.data.link}}" target="_blank">Сайт галереи "{{gallery.data.name}}"</a>
</div>

<div *ngIf="error">
    <p class="alert alert-danger" role="alert">{{error.status}}, {{error.statusText}}</p>
</div>