<div *ngIf="painters">
    <label for="painterID">Выберите художника для просмотра информации: </label>
    <select name="painterID" id="painterID">
        <option *ngFor="let p of painters.data" value="{{p.id}}">{{p.name}} {{p.surname}}</option>
    </select>
    <input type="submit" value="Показать" (click)="onGetPainter()">
</div>

<div id="info" *ngIf="painter">
    <!-- <p>id: {{painter.data.id}}</p> -->
    <img *ngIf="painter.data.picFileName" src="{{painter.data.picFileName}}" alt="{{painter.data.name}} {{painter.data.surname}}"
        title="{{painter.data.name}} {{painter.data.surname}}" loading="lazy">
    <p><b>Имя:</b> {{painter.data.name}}</p>
    <p><b>Фамилия:</b> {{painter.data.surname}}</p>
    <p><b>Дата рождения:</b> {{painter.data.birthDate}}</p>
    <p><b>Место рождения:</b> {{painter.data.placeOfBirth}}</p>
    <p><b>Жанр:</b> {{painter.data.genre}}</p>
    <p><b>Стиль:</b> {{painter.data.style}}</p>
</div>

<div *ngIf="error">
    <p class="alert alert-danger" role="alert">{{error.status}}, {{error.statusText}}</p>
</div>